


<h1> ******* Welcome to TripBuilder! ******** </h1>
<h2> Current Trips </h2>

<%= form_tag "trips", method: "GET" do %>
    <%= text_field_tag :p, params[:p] %>
  <%= submit_tag "Search Trips" %>
<% end %>

   
<div>
<td><%= link_to 'New', new_trip_path %>  
 <%= link_to 'Back', trips_path %> 
 <%= link_to 'Add Components', new_component_path %>
 </td>
</div>
  