

<h1> ******* Welcome to TripBuilder! ******** </h1>
<h2> Current Components </h2>

<%= form_tag "/components/show", method: "GET" do %>
    <%= text_field_tag :p, params[:p] %>
  <%= submit_tag "Search Components" %>
<% end %>


<table class="table table-striped" >
 <thead>
    <tr>
    <div>
      <th><h3>Component Name</h3></th>
      <th><h3>Description</h3></th>
      <th><h3>Latitude</h3></th> 
      <th><h3>Longitude</h3></th>

    </div>
    </tr>
  </thead>

 <tbody>
 <tr> 
  <% @component.each do |m| %>
   <td><%= m.name %> </td>
   <td><%= m.description %>  </td>
   <td><%= m.lat%>  </td>
   <td><%= m.lon%>  </td>
   </tr>
   <% end %>
</tbody>
</table>
   
<div>
<td><%= link_to 'New', new_component_path %>  
 <%= link_to 'Back', components_path %> 
 <%= link_to 'Trips' , trips_path %>
 <%= link_to 'Add Trips', new_trip_path %>
 </td>
</div>
  