

<h1> ******* TripBuilder! ******** </h1>
<h2> Component Search Results </h2>


<table>
  <thead>
    <tr>
    <div>
      <th><h3>Component Name</h3></th>
      <th><h3>Description</h3></th>
      <th><h3>Start</h3></th>
      <th><h3>End</h3></th>
      <th><h3>Latitude</h3></th> 
      <th><h3>Longitude</h3></th>

    </div>
    </tr>
  </thead>

 <tbody>
 <tr> 
  <% @component.each do |m| %>
   <td><%= m.name %> </td>
   <td><%= m.description %>  </td>
   <td><%= m.start%>  </td>
   <td><%= m.end %>  </td>
   <td><%= m.lat%>  </td>
   <td><%= m.lon%>  </td>
   </tr>
   <% end %>
</tbody>
</table>
   
<div>
<td><%= link_to 'New', new_component_path %>  
 <%= link_to 'Back', components_path %>
 <%= link_to 'Trips' , trips_path %>
 </td>
</div>
  
